/* src/App.css */

body {
  background-color: #f5f5dc; /* Beige background color */
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin-right: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px; /* Add a little space between the input and the button */
}

button:hover {
  background-color: #2980b9;
}

ul {
  list-style: none;
  padding: 0;
}

.todo-item {
  background-color: #d4edb0; /* Light green background color */
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c5e1a5; /* Border color for the sticky note */
  margin: 8px 0; /* Add space between each task */
  width: 100%;
  box-sizing: border-box;
}

.todo-item-new {
  border: 1px solid #aed6f1; /* Light blue border for new tasks */
}

.todo-item span {
  flex: 1;
  margin: 0 8px; /* Add space between the checkbox, number, and task */
}

.todo-item label {
  margin-right: 8px; /* Add space between the checkbox and label */
}

.todo-item div {
  display: flex;
  align-items: center;
}

.todo-item input[type="checkbox"] {
  margin-right: 8px;
}

.todo-item button {
  margin-left: 8px; /* Add space between the task and buttons */
  border-radius: 4px;
}

.todo-item .edit-button {
  background-color: #e67e22; /* Dark yellow color for the Edit button */
  color: #fff;
  border: none;
  padding: 8px;
}

.todo-item .delete-button {
  background-color: #e74c3c; /* Red color for the Delete button */
  color: #fff;
  border: none;
  padding: 8px;
}

.todo-item .delete-button:hover {
  background-color: #c0392b;
}
